@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Red+Hat+Display:ital,wght@0,500;1,500&family=Sora:wght@100..800&display=swap');

body{
    background-color: white;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .sora {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
  }
  .red-hat-display {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
.logo{
  width: 70%;
  height: 80%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
nav ul {
    border: none;
  }
  nav ul li {
    list-style: none;
    text-align: center;
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    color: black;
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "manrope", sans-serif;
  }

.title{
  font-size: larger;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    color: black;
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "sora", sans-serif;
}
button{
  border: none;
  color: black;
  font-weight: 700;
  background-color: #01F466;
  width: 50%;
  height: 80%;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box > .left {
  width: 110%;
}
.box > .left > h3{
  margin-left: 10%;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0px;
  font-family: "sora" , sans-serif;
}
.box > .left > h4{
  margin-left: 10%;
  font-family: 'manrope';
  font-weight: 600;
  color: #ded6d6;
}
.box > .left > button{
  margin-left: 10%;
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 120px;
}
.box > .right > img{
  width: 90%;
  height: 100%;

}
/*********************QUICKQUERY PAGE******************************************/


.boxy{
  display: flex;
}
.boxy >.input{
  margin-left: 5%;
  width: 90%;
  height: 100%;
}

.boxy >.input > h4{
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    color: #011F2B;
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "manrope", sans-serif;
}
.vertical-hr {
  height: 550px; /* Adjust height of the line */
  border: none;
  border-left: 2px solid #aba9a9b8; /* Adjust color and width as needed */
  margin: 0 10px; /* Optional margin for spacing */
}
.boxx > h3{
  font-size: large;
  margin-left: 10%;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    color: white;
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "manrope", sans-serif;
}

.code-container {
  background-color: #011F2B;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

 .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}


.copy-button {
  width: 70px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.output {
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
  min-height: 300px; /* Adjust this value based on your desired minimum height */
  display: flex;
  flex-direction: column;
}

.spinner-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hljs {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  flex: 1;
}

/***************************QUICKSNIPPET PAGE**********************************************/
.saved-queries {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 30px;
  margin-left: 30px;
}


.query-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.query-item > h4{
  font-family: "manrope";
  text-align: center;
  font-weight: 600;
}
/********************************************FEATURES PAGE***********************************************/
.grid{
  margin-top: 20px;
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(3 , 0.25fr);
  row-gap: 30px;
  column-gap: 20px;
  cursor: pointer;
}
.gradient-text {
  background: linear-gradient(to right, #1F9D62, #01F466);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  font-family: "manrope";
}